{% extends "users/base.html" %}
{% load staticfiles %}
{% block body_block %}
<section>
  <h1>Profile</h1>

  <h1 class="text-center mb-3">{{ user.username }}</h1>

  <div class="media">
    <img width="200" height="300" class="mr-3" alt="{{ user.username }}" />
    <div class="media-body">
     
      <p>
        {{ user.first_name }}
        {{ user.last_name }} 
        {{ user.email }}
        {{ customUser.phone }}
        {{ customUser.profilePic }}
      </p>
    </div>
  </div>
  
</section>
{% endblock %}
